body, html {
  height: 100%;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btn {
  
}

ol, .main_page {
  display: flex;
  flex-direction: column;
}