* {
	box-sizing: border-box;
}
body {
	background: #D6D6D6;
}

.container {
	margin: 0 auto;
	width: 80%;
}

#bg {
	background-image: url("../images/background.jpg");
	text-align: center;	
}

#logo {
	margin-top: 30px;
}

main {
	vertical-align: top;
	padding: 10px;
	display: inline-block;
	width: 70%;
	background-color: white;
	margin-right: 40px;
}

nav {
	vertical-align: top;
	display: inline-block;
	width: 20%;
	background-color: white;
}

article img {
	width: 100%;
}

article {
	margin-bottom: 10px;
}

nav img {
	width: 100%;
}

article > footer {
	border-top: 1px dotted black;
	border-bottom: 1px solid black;
}