<div class="container">
  <% @projects.each do |project| %>
  <div class="project">
    <p><%= project.title %></p>
    <a href="/projects/<%= project.id %>">
      <img src="<%= project.preview.url %>">
    </a>
  </div>
  <% end %>
</div>