<div class="main_page">
<div class="search">
  <form action ="/search">
   <input id="login" name="title" placeholder="title">
    <button class="btn btn-outline-primary">search</button>
  </form>
</div>

<a href="/search_history">search history</a>
</div>